<div id="sql">
  <h3>SQL</h3>

<p>SQL is a specialized programming language used with databases.  We
  use a simple database manager called <a href="http://www.sqlite.org/">SQLite</a> 
  in our lessons. We will use the <a href="http://sqlitebrowser.org/">DB Browser for SQLite</a> program,
  which is available for all major platforms.</p>

  <p>To install the DB Browser, go to their <a href="http://sqlitebrowser.org/dl/">download page</a> and choose the correct installer for 
your operating system. Once the installer is downloaded, double click on it (you may need to open your Downloads folder), follow
any other instructions that appear, and
  DB Browser should install. After installing, you can delete the installer `.dmg` file. </p>
</div>
