<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
      <tr> <td>Jan 8, 2021</td> <td><a href="https://librarycarpentry.org/lc-spreadsheets/">Intro to Tidy Data in a Spreadsheet</a> </td> </tr>
      <tr> <td>Jan 15, 2021</td> <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a> </td> </tr>
      <tr> <td>Jan 22, 2021</td>  <td><a href="https://librarycarpentry.org/lc-shell/">UNIX Shell</a></td> </tr>
      <tr> <td>Jan 29, 2021</td>  <td><a href="https://librarycarpentry.org/lc-git/">Intro to Git</a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="https://librarycarpentry.org/lc-shell/">this unix shell lesson</a>.) </td> </tr>
      <tr> <td>Feb 5, 2021</td> <td><a href="https://librarycarpentry.org/lc-sql/">SQL</a>  </td> </tr>
      <tr> <td>Feb 12, 2021</td> <td><a href="https://librarycarpentry.org/lc-python-intro/">Intro to Python 1</a>  </td> </tr>
      <tr> <td>Feb 19, 2021</td>  <td><a href="https://github.com/ucla-data-archive/scrape-interwebz">Python and APIs</a> </td> </tr>
      <tr> <td>Feb 26, 2021</td>  <td><a href="https://calendar.library.ucla.edu/event/7296653">Open Lab</a> </td> </tr>
    </table>
  </div>
</div>
